@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here you can find information about some of the most famous male fitness models. Feel free to add your favorite ones and provide some info about them.</p>

<div>
    <img src="http://evroxfitnessstudio.com/wp-content/uploads/2014/09/Male-Fitness-Models.jpg" class="img-responsive" />
</div>
