<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://famousfitnessmodels.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>famousfitnessmodels.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>famousfitnessmodels</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$famousfitnessmodels</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FitnessModelsDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-3NU3P8A\BOZHIDARSQL;Initial Catalog=FitnessModelsData;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=DESKTOP-3NU3P8A\BOZHIDARSQL;Initial Catalog=FitnessModelsData;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FamousFitnessModels.Models.FitnessModelsDataEntities, FamousFitnessModels" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FitnessModelsDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FitnessModel.csdl|res://*/Models.FitnessModel.ssdl|res://*/Models.FitnessModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-3NU3P8A\BOZHIDARSQL;Initial Catalog=FitnessModelsData;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>